:host {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: #FFF;
    justify-content: center;
    align-items: center;
    text-align: center;

    #contact-section {
        background-image: url(../../../assets/img/coffee-beer.jpg);
        background-color: #000;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        display: flex;
        flex-direction: column;
        padding: 5rem;
        row-gap: 2rem;
        
        h3 {
            font-size: 5rem;
        }
    
        h4 {
            font-size: 3rem;
            margin-bottom: 3rem;
        }
    
        p {
            font-size: 2.5rem;
        }
    }

    #map {
        width: 100%;
        flex-grow: 1;
    }
}