<div id="menu-links">
    <div class="menu-link">
        <div class="drink"
        [ngClass]="{'active': menuCat === menuCategory.DRINK}"
        (click)="setMenuCat(menuCategory.DRINK)"></div>
    </div>
    <div class="menu-link">
        <div class="food"
        [ngClass]="{'active': menuCat === menuCategory.FOOD}"
        (click)="setMenuCat(menuCategory.FOOD)"></div>
    </div>
</div>


<section class="menu-section" *ngIf="menuCat === menuCategory.DRINK">
    <div class="category" *ngFor="let menu of drinkMenu">
        <ul>
            <li class="cat">{{menu.item_category}}</li>
            <li>
                <ul>
                    <li *ngFor="let item of menu.item">
                        {{item.item_name}} - {{item.item_price | currency: 'RSD' : 'symbol' : '2.2'}}
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</section>

<section class="menu-section" *ngIf="menuCat === menuCategory.FOOD">
    <div class="category" *ngFor="let menu of foodMenu">
        <ul>
            <li class="cat">{{menu.item_category}}</li>
            <li>
                <ul>
                    <li *ngFor="let item of menu.item">
                        {{item.item_name}} - {{item.item_price | currency: 'RSD' : 'symbol' : '2.2'}}
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</section>