@font-face {
    font-family: "KGBlankSpaceSketch";
    src:url("/assets/fonts/KGBlankSpaceSketch.ttf") format("ttf"),
        url("/assets/fonts/KGBlankSpaceSketch.eot") format("embeded-opentype"),
        url("/assets/fonts/KGBlankSpaceSketch.woff") format("woff"),
        url("/assets/fonts/KGBlankSpaceSketch.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "KGBlankSpaceSolid";
    src:url("/assets/fonts/KGBlankSpaceSolid.ttf") format("ttf"),
        url("/assets/fonts/KGBlankSpaceSolid.eot") format("embeded-opentype"),
        url("/assets/fonts/KGBlankSpaceSolid.woff") format("woff"),
        url("/assets/fonts/KGBlankSpaceSolid.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "RumRaisin-Regular";
    src:url("/assets/fonts/RumRaisin-Regular.ttf") format("ttf"),
        url("/assets/fonts/RumRaisin-Regular.eot") format("embeded-opentype"),
        url("/assets/fonts/RumRaisin-Regular.woff") format("woff"),
        url("/assets/fonts/RumRaisin-Regular.woff2") format("woff2");
    font-display: swap;
}
