:host {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;

    header {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 3;
    }
    
    main {
        flex-grow: 1;

        #home {
            background-image: url('../assets/img/home-bg.webp');
        }

        #contact {
           @extend #paralax;
        }
    
        .paralax {
            background-color: #000;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
        }
        
        #paralax {
            background-image: url('../assets/img/coffee-beer.webp');
            height: 70%;
        }
    }

    footer {
        width: 100%;
        background-image: url('../assets/img/footer_black-table-background-1.webp');
    }
}

@media screen and (max-width: 768px) {
    :host {
        main {
            #home {
                background-image: url('../assets/img/r_home-bg.webp');
            }

            #paralax {
                background-image: url('../assets/img/r_coffee-beer.webp');
            }
        }
    }
}
