:host {
    height: 100%;

    header {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 3;
    }
    
    main {
        height: 100%;
    
        #home {
            background-image: url(../assets/img/home-bg.jpg);
        }
    
        .paralax {
            background-color: #000;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
        }
        
        #paralax {
            background-image: url(../assets/img/coffee-beer.jpg);
            height: 100%;
        }
    }
}

