/* You can add global styles to this file, and also import other style files */


* {
    box-sizing: border-box;
    margin: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    background-color: black;
    overflow: hidden;
    font-family: "KGBlankSpaceSolid";
    letter-spacing: .2rem;
    font-size: 1.6rem;
    line-height: 2.7rem;
    color: #FFF;
}

a {
    text-decoration: none;
    color: #FFF;
}
